{% extends "Administracion/index.html" %}
<!--page title-->
{% block contenido %}
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Creación de Productos y/o Servicios</div>
                    </div>
                </div>
                <form action="/administracion/product/create/" id="registerProd" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Código Interno</span>
                            </div>
                            <input type="text" class="form-control"
                                   placeholder="Este código ayudará a ubicar el producto en su base de datos"
                                   name="codigo"
                                   aria-label="codigo"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="categoria" multiple name="categoria"
                                            style="width: 100%">
                                        <option></option>
                                        {% for categoria in categorias %}
                                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <button type="button" class="btn btn-primary" style="width: 100%"><i
                                        class="fa fa-plus-circle"></i> Nueva Categoria
                                </button>
                            </div>
                            <div class="col-xl-4">
                                <div class="input-group mb-3">
                                    <select class="form-control" id="marca" multiple name="marca" style="width: 100%">
                                        <option></option>
                                        {% for marca in marcas %}
                                            <option value="{{ marca.id }}">{{ marca.nombre }}</option>
                                        {% endfor %}

                                    </select>
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <button type="button" class="btn btn-primary" style="width: 100%"><i
                                        class="fa fa-plus-circle"></i> Nueva Marca
                                </button>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Nombre del Producto</span>
                            </div>
                            <input type="text" class="form-control" name="nombre"
                                   placeholder="Escriba el nombre del Producto a ingresar"
                                   aria-label="nombre"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-shadow mb-4">
                                    <div class="card-body">
                                        <textarea id="descripcion" name="descipcion">Aqui la Descripción</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card card-shadow mb-4">
                                    <div class="card-body">
                                        <textarea id="tecnicos" name="tecnicos">Aqui los Detalles Técnicos</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-shadow mb-4">
                                    <div class="card-body">
                                        <textarea id="generales" name="generales">Aqui los Detalles Generales</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="card card-shadow" style="width: 100%">
                                    <div class="card-body">
                                        <textarea id="garantia"
                                                  name="garantia">Garantía del Servicio y más...</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Precio</span>
                            </div>
                            <input type="text" class="form-control" id="precio"
                                   placeholder="Aqui el Precio que tendra este producto" name="precio"
                                   aria-label="precio"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 20px; padding-right: 20px">
                        <div class="col-xl-6">
                        </div>
                        <div class="col-xl-6" style="text-align: right">
                            <button type="submit" id="registart" class="btn btn-primary">Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/static/Administracion/vendor/select2/js/select2.min.js"></script>
    <script src="/static/Administracion/vendor/summernote/summernote-bs4.min.js"></script>
    <script src="/static/Administracion/vendor/input-mask/jquery.inputmask.bundle.js"></script>
    <script src="/static/sweetalert.min.js"></script>
    <script>
        $('#categoria').select2({
            placeholder: "Seleccione una categoría",
            tags: true
        });
        $('#marca').select2({
            placeholder: "Seleccione una marca",
            tags: true
        });
        $('#descripcion').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
        $('#tecnicos').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
        $('#garantia').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
        $('#generales').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
        $("#precio").inputmask('$ 999.999.999,99', {
            numericInput: true
        }); //123456  =>  $ ___.__1.234,56
    </script>
    <script type="text/javascript">
        $()
        var frm = $('#registerProd');
        frm.submit(function () {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    $("#registart").attr("disabled")
                    swal({
                        title: "Excelente",
                        text: "El registro se ha creado!",
                        icon: "success",
                        button: "Eso es Todo",
                    });
                },
                error: function (data) {
                    swal({
                        title: "Ups",
                        text: "Ha ocurrido un error, revisa y vuelve a intentar!",
                        icon: "error",
                        button: ":( Sorry..!",
                    });
                     $("#registart").attr("disabled")
                }
            });
            return false;
        });
    </script>

{% endblock %}
