{% extends "Administracion/index.html" %}
{% block contenido %}
    <div class="page-title mb-4 d-flex align-items-center">
        <div class="mr-auto">
            <nav aria-label="breadcrumb" class="d-inline-block ">
                <ol class="breadcrumb p-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">Lista de Productos</a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Lista de Productos</div>

                    </div>
                </div>
                <div class="pt-3 pb-4">
                    <div class="table-responsive">
                        <table id="lista_productos" class="display table table-bordered table-striped" cellspacing="0" style="text-align: center">
                            <thead style="text-align: center">
                            <tr class="alert alert-dark">
                                <th>Id</th>
                                <th>Código</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Marca</th>
                                <th>Categoria</th>
                                <th>Precio</th>
                                <th>Opciones</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr class="alert alert-info">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<!--datatables-->
    <script src="/static/Administracion/vendor/data-tables/jquery.dataTables.min.js"></script>
    <script src="/static/Administracion/vendor/data-tables/dataTables.bootstrap4.min.js"></script>
    <!--init ajax datatable-->
    <script>
    $(document).ready(function() {
        var data=[]

        {%  for producto in productos %}
            var imagen=""
            {% for foto in fotos %}
                {% if foto.producto == producto %}
                    imagen = '<a href="/administracion/product/view/{{ producto.slug }}/"><img src="/media/{{ foto.imagen }}" style="width: 100px"></a>'
                {% endif %}
            {% endfor %}
            if (imagen){

            }
            else{
                imagen='<a href="/administracion/product/photo/{{ producto.slug }}" class="btn btn-danger form-pill">Sin Imagen</a>'
            }



            data.push([
                "{{ producto.id }}",
                "{{ producto.codigo_interno }}",
                imagen,
                "{{ producto.nombre }}",
                "{{ producto.marca.nombre }}",
                "{{ producto.categoria.nombre }}",
                "{{ producto.precio }}",
                '<a href="/administracion/product/view/{{ producto.slug }}/" title="Editar" class="btn btn-primary"><i class="fa fa-edit"></i></a> ' +
                '<a href="" title="Deshabilitar" class="btn btn-danger"><i class="fa fa-cog"></i></a> '+
                '<a href="/administracion/product/photo/{{ producto.slug }}/" title="Agregar Imagenes" class="btn btn-success"><i class="fa fa-image"></i></a>'

            ])
        {% endfor %}
        $('#lista_productos').DataTable( {
        "data": data
        } );
    } );
    </script>
{% endblock %}
