{% extends "Administracion/index.html" %}
<!--page title-->
{% block contenido %}
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card card-shadow mb-4">
                <div class="card-header border-0">
                    <div class="custom-title-wrap bar-primary">
                        <div class="custom-title">Creación de Tiendas</div>
                    </div>
                </div>
                <form action={% if tienda %}"/administracion/tienda/view/{{ tienda.hashes }}/"{% else %}
                    "/administracion/tienda/create/" {% endif %}
                id="registerTienda"
                method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Escriba Nombre</span>
                        </div>
                        <input type="text" class="form-control"
                               placeholder="Escriba el nombre completo de su negocio"
                               name="nombre" value="{{ tienda.nombre }}"
                               aria-label="nombre"
                               aria-describedby="basic-addon1">
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card card-shadow mb-4">
                                <div class="card-body">
                                            <textarea id="descripcion" name="descripcion">
                                                {% if tienda %}
                                                    {{ tienda.descripcion }}
                                                {% else %}
                                                    Aquí la Descripción
                                                {% endif %}

                                            </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-2">
                            <div class="input-group mb-3">
                                <select class="form-control" id="pais" name="pais"
                                        style="width: 100%">
                                    <option></option>
                                    {% for pais in paises %}
                                        <option value="{{ pais.id }}">{{ pais.nombre }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <button type="button" class="btn btn-primary" style="width: 100%"><i
                                    class="fa fa-plus-circle"></i> Nuevo Pais
                            </button>
                        </div>
                        <div class="col-xl-2">
                            <div class="input-group mb-3">
                                <select class="form-control" id="provincia" name="provincia"
                                        style="width: 100%">
                                    <option></option>
                                    {% for provincia in provincias %}
                                        <option value="{{ provincia.id }}">{{ provincia.nombre }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <button type="button" class="btn btn-primary" style="width: 100%"><i
                                    class="fa fa-plus-circle"></i> Nueva Provincia
                            </button>
                        </div>
                        <div class="col-xl-2">
                            <div class="input-group mb-3">
                                <select class="form-control" id="ciudad" name="ciudad" style="width: 100%">
                                    <option></option>
                                    {% for ciudad in ciudades %}
                                        <option value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <button type="button" class="btn btn-primary" style="width: 100%"><i
                                    class="fa fa-plus-circle"></i> Nueva Ciudad
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Dirección</span>
                                </div>
                                <input type="text" class="form-control"
                                       placeholder="Escriba la dirección"
                                       name="direccion" value="{{ tienda.direccion }}"
                                       aria-label="direccion"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Teléfonos</span>
                                </div>
                                <input type="text" class="form-control"
                                       placeholder="Escriba sus telefonos"
                                       name="telefono" value="{{ tienda.telefono }}"
                                       aria-label="telefono"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Email</span>
                                </div>
                                <input type="text" class="form-control"
                                       placeholder="Escriba un email"
                                       name="email" value="{{ tienda.correo }}"
                                       aria-label="email"
                                       aria-describedby="basic-addon1">
                            </div>
                        </div>
                    </div>


                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Código de Verificación</span>
                        </div>
                        <input type="text" class="form-control" name="hashes" readonly
                               placeholder="Se genera automaticamente"
                               aria-label="hashes" value="{{ tienda.hashes }}"
                               aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Dirección en el mapa</span>
                        </div>
                        <input type="text" class="form-control" name="mapa"
                               placeholder="Utilice Google Maps"
                               aria-label="mapa" value="{{ tienda.dir_map }}"
                               aria-describedby="basic-addon1">
                    </div>
                </div>
                <div class="row" style="padding-bottom: 20px; padding-right: 20px">
                    <div class="col-xl-6">
                    </div>
                    <div class="col-xl-6" style="text-align: right">
                        {% if tienda %}
                            <a href="/administracion/tienda/create/" class="btn btn-danger">Nuevo</a>
                        {% endif %}

                        <button type="submit" id="registart" class="btn btn-primary">Registrar</button>
                    </div>
                </div>
                </form>
                {% if tienda %}
                    <div class="row" style="padding: 20px">
                        <div class="col-xl-6">
                            <div class="input-group mb-3">
                                <img src="/media/{{ tienda.logo }}" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="input-group mb-3">
                                <form class="dropzone mb-4" id="singleFileUpload" enctype="multipart/form-data"
                                      action="/administracion/tienda/photo/{{ tienda.hashes }}/"
                                      style="width: 100%">
                                    {% csrf_token %}
                                    <div class="dz-message needsclick">
                                        <h5>Click aquí para subir la imagen, antes de iniciar asegurese de que todas
                                            las fotos sean del mismo tamaño, caso contrario podria generar errores
                                            de visualización</h5>
                                    </div>
                                </form>
                                <a href="" class="btn btn-success">Recargar</a>
                            </div>
                        </div>
                    </div>


                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="/static/Administracion/vendor/select2/js/select2.min.js"></script>
    <script src="/static/Administracion/vendor/summernote/summernote-bs4.min.js"></script>
    <script src="/static/Administracion/vendor/dropzone/dropzone.js"></script>
    <script src="/static/sweetalert.min.js"></script>
    <script>

        {% if tienda %}
            $("#pais option[value=" + {{ tienda.pais}} +"]").attr("selected", true);
            $("#provincia option[value=" + {{tienda.provincia}} +"]").attr("selected", true);
            $("#ciudad option[value=" + {{tienda.ciudad}} +"]").attr("selected", true);
        {% endif %}

        $('#pais').select2({
            placeholder: "Seleccione Pais",
            tags: true
        });
        $('#provincia').select2({
            placeholder: "Seleccione Provincia",
            tags: true
        });
        $('#ciudad').select2({
            placeholder: "Seleccione Ciudad",
            tags: true
        });
        $('#descripcion').summernote({
            height: 150,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                  // set focus to editable area after initializing summernote
        });
    </script>
    <script type="text/javascript">
        {% if editar %}
            swal({
                title: "Excelente!",
                text: "{{editar}}",
                icon: "success",
                button: "No hay mas por hacer",
            });
        {% endif %}

        {% if crear %}
            swal({
                title: "Bien Hecho!",
                text: "{{ crear }}",
                icon: "success",
                button: "No hay mas por hacer",
            });
        {% endif %}
    </script>

{% endblock %}
