<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="/static/Administracion/img/favicon.png">

    <title>404</title>

    <!--web fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="/static/Administracion/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="/static/Administracion/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="/static/Administracion/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!--iCheck-->
    <link href="/static/Administracion/vendor/icheck/skins/all.css" rel="stylesheet">

    <!--custom styles-->
    <link href="/static/Administracion/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/Administracion/vendor/html5shiv.js"></script>
    <script src="/static/Administracion/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="error-position">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center ">
                    <img class="img-fluid" src="/static/Administracion/img/404.png" srcset="/static/Administracion/img/404@2x.png 2x" alt=""/>
                    <p class="text-muted f18 mt-4 mb-5">Ooops! Something went wrong .Go back to the Earth.</p>
                    <a href="index.html" class="btn btn-purple btn-pill">Back to Home</a>
                </div>
            </div>
        </div>
    </div>

    <!--basic scripts-->
    <script src="/static/Administracion/vendor/jquery/jquery.min.js"></script>
    <script src="/static/Administracion/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/Administracion/vendor/popper.min.js"></script>
    <script src="/static/Administracion/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/Administracion/vendor/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/static/Administracion/vendor/icheck/skins/icheck.min.js"></script>
    <script src="/static/Administracion/vendor/jquery.nicescroll.min.js"></script>
    <!--[if lt IE 9]>
    <script src="assets/vendor/modernizr.js"></script>
    <![endif]-->

    <!--basic scripts initialization-->
    <script src="assets/js/scripts.js"></script>
</body>
</html>

