<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="img/favicon.png" type="image/x-icon" />
        
        <title>iCommerce</title>

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,400italic,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
        
        <!-- Linearicons -->
        <link href="vendors/Linearicons/style.css" rel="stylesheet">
        <!-- fontawesome -->
        <link href="vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!-- Bootstrap Select -->
        <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
        <!-- Camera Slider -->
        <link href="vendors/camera-slider/css/camera.css" rel="stylesheet">
        <!-- Animate css -->
        <link href="vendors/animate-css/animate.css" rel="stylesheet">
        <!-- jQuery UI -->
        <link href="vendors/jquery-ui/css/jquery-ui.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       <!--==========First Header==========-->
        <div class="first_header">
            <div class="container custome_container">
                <div class="live_chat_area pull-left">
                    <a href="#"><i class="lnr lnr-bubble"></i>Live Chat Us</a>
                    <a href="#"><i class="lnr lnr-envelope"></i>Call Us Anytime: +660-984-893</a>
                </div>
                <div class="language_area pull-right">
                    <select class="selectpicker">
                        <option>English</option>
                        <option>Bangla</option>
                        <option>Hindi</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="logo_area">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="website_logo">
                            <a href="index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="find_item_inner">
                            <input type="text" placeholder="Search Here">
                            <select class="selectpicker">
                                <option>All Categories</option>
                                <option>All Categories</option>
                                <option>All Categories</option>
                            </select>
                            <a class="find_button" href="#">Find Items</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cart_area">
                            <div class="wishlist">
                                <i class="lnr lnr-heart"></i>
                                <h5>Wishlist</h5>
                            </div>
                            <div class="cart">
                                <i class="lnr lnr-cart"></i>
                                <h5>Cart</h5>
                                <span>7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==========First Header==========-->
        <!--==========Main Menu Area==========-->
        <header class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container custome_container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown toggle_menu active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Homepages <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Homepages - 01</a></li>
                                    <li><a href="index-2.html">Homepages - 02</a></li>
                                    <li><a href="index-3.html">Homepages - 03</a></li>
                                    <li><a href="index-4.html">Homepages - 04</a></li>
                                </ul>
                            </li>
                            <li class="dropdown meg_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Elements <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <ul class="nav">
                                            <li><a href="index.html">Homepages - 01</a></li>
                                            <li><a href="index-2.html">Homepages - 02</a></li>
                                            <li><a href="index-3.html">Homepages - 03</a></li>
                                            <li><a href="index-4.html">Homepages - 04</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="nav">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="shop-brand.html">Shop Band</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="nav">
                                            <li><a href="category.html">Category</a></li>
                                            <li><a href="single-category.html">Single Category</a></li>
                                            <li><a href="checkout.html">Check Out</a></li>
                                            <li><a href="comparison.html">Comparison</a></li>
                                            <li><a href="product-detail.html">Product Detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown toggle_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="shop-brand.html">Shop Band</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="lnr lnr-user"></i> My Account</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>
        <!--==========Main Menu Area==========-->
        
        <!--==========Banner area==========-->
        <section class="banner_area">
            <div class="banner_tittle">
                <h3>Upland Leader 500  26”</h3>
            </div>
            <div class="banner_page_ling">
                <a href="index.html">Home</a>
                <i class="lnr lnr-chevron-right"></i>
                <a href="index.html">Category</a>
                <i class="lnr lnr-chevron-right"></i>
                <a href="index.html">All Category</a>
            </div>
        </section>
        <!--==========End Slider area==========-->
        
        <!--==========Shopping cart area==========-->
        <section class="shopping_cart_area">
            <div class="container">
                <div class="shopping_cart_inner">
                    <div class="table-responsive"> 
                        <table class="table"> 
                            <thead> 
                                <tr> 
                                    <th>Thumbnail</th> 
                                    <th>Product</th> 
                                    <th>Quantity</th> 
                                    <th>Price</th> 
                                    <th>Total</th> 
                                    <th></th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                <tr> 
                                    <td><img src="img/product/list-product/cart-1.jpg" alt=""></td> 
                                    <td>Bicycle Wheel</td> 
                                    <td>Table cell</td> 
                                    <td>$102</td> 
                                    <td>$102</td> 
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td> 
                                </tr> 
                                <tr> 
                                    <td><img src="img/product/list-product/cart-2.jpg" alt=""></td> 
                                    <td>Bicycle Frame</td> 
                                    <td>Table cell</td> 
                                    <td>$98</td> 
                                    <td>$196</td> 
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td> 
                                </tr> 
                            </tbody> 
                        </table> 
                    </div>
                </div>
                <div class="total_price_area">
                    <h3><span>Subtotal</span>$298.00</h3>
                    <p>Shipping & taxes calculated at checkout</p>
                    <a class="cart_btn" href="#">Update Cart</a>
                    <a class="cart_btn" href="#">Check Out</a>
                </div>
            </div>
        </section>
        <!--==========End Shopping cart area==========-->
        
        <!--==========Footer area==========-->
        <footer class="footer_area footer_style2">
            <div class="main_footer">
                <div class="container custome_container">
                    <div class="row widget_inner">
                        <div class="col-md-3">
                            <div class="f_service_widget">
                                <div class="f_widget_tittle">
                                    <h3>Customer Service</h3>
                                </div>
                                <p>
                                    Customer Service <br class="break" />
                                    Transaction Service Agreement <br class="break" />
                                    Take Our Survey <br class="break" />
                                    Organization & Technical Support
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_newsletter_widget">
                                <div class="f_widget_tittle">
                                    <h3>Subscribe to our Newsletter</h3>
                                </div>
                                <input type="email" placeholder="Enter Email Address">
                                <a class="f_subs_btn" href="#">Subscribe Now</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_buy_widget">
                                <div class="f_widget_tittle">
                                    <h3>How to Buy</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Create an Account</a></li>
                                    <li><a href="#">Making Payments</a></li>
                                    <li><a href="#">Delivery Options</a></li>
                                    <li><a href="#">Buyer Protection</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_promotion_widget">
                                <div class="f_widget_tittle">
                                    <h3>Partner Promotion</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Partnerships</a></li>
                                    <li><a href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_business_card">
                        <div class="card_image row">
                            <img src="img/card/card.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright_footer">
                <h4>© MADE WITH LOVE BY Masum Rana. ALL RIGHTS RESERVED</h4>
            </div>
        </footer>
        <!--==========End Footer area==========-->
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.12.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Bootstrap Select -->
        <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <!-- jquery easing -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Camera Slider -->
        <script src="vendors/camera-slider/js/camera.min.js"></script>
        <script src="vendors/wow/wow.min.js"></script>
        <!-- jQuery UI -->
        <script src="vendors/jquery-ui/js/jquery-ui.js"></script>
        
        
        <script src="js/theme.js"></script>
    </body>
</html>