{% extends "index.html" %}
{% block contenido %}
    {% load tiendaTags %}
    <section class="men_clothing_area">
        <div class="container custome_container">
            <div class="men_clothing_product_inner row">
                {% for categoria in cat %}
                <div class="col-md-3 col-xs-3">
                    <div class="men_clothing_product_item panel">
                        <a class="men_item_image" href="/single-category/{{ categoria.id }}/" style="text-align: center; padding: 20px">
                            <img src="/media/{{ categoria.icono.icono }}" style="width: 200px; height: 200px" alt="">
                        </a>
                        <div class="men_item_content" style="text-align: center; background-color: #1e7e34;">
                            <a href="/single-category/{{ categoria.id }}/"><h3 style="color: white">{{  categoria.nombre }}</h3></a>
                            <h4 style="color: white">Total de Productos: {% total_categoria categoria.id %}</h4>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="men_clothing_add add_space">
                <img src="img/add_image/home-2-add.jpg" alt="">
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination product_pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <i class="lnr lnr-chevron-left"></i>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">...</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <i class="lnr lnr-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
{% endblock %}

