<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="/static/img/favicon.png" type="image/x-icon"/>

    <title>iCommerce</title>

    <!-- fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,400italic,700,900' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>

    <!-- Linearicons -->
    <link href="/static/vendors/Linearicons/style.css" rel="stylesheet">
    <!-- fontawesome -->
{#    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">#}



    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Select -->
    <link href="/static/vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Camera Slider -->
    <link href="/static/vendors/camera-slider/css/camera.css" rel="stylesheet">
    <!-- Animate css -->
    <link href="/static/vendors/animate-css/animate.css" rel="stylesheet">
    <link href="/static/vendors/animate-css/magic.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block header %}
<div class="first_header" style="background-color: #333333;">
    <div class="container custome_container">
        <div class="live_chat_area pull-left">
            <a href="#" style="color: white"><i class="glyphicon glyphicon-user"></i>Live Chat Us</a>
            <a href="#" style="color: white"><i class="glyphicon glyphicon-envelope"></i>Call Us Anytime: +660-984-893</a>
        </div>
    </div>
</div>
    <!--
    cccccc52
    efefef
    -->
<div class="logo_area" style="background-color: #cccccc52;">
    <div class="container custome_container">
        <div class="row">
            <div class="col-md-3">
                <div class="website_logo">
                    <a href="index.html"><img src="https://github.com/jurdin32/ERPBit/blob/master/static/images/logos/LOGO%20ERALY-01.png?raw=true" alt=""></a>
                </div>
            </div>
            <div class="col-md-7">
                <div class="find_item_inner">
                    <input type="text" placeholder="Search Here">
                    <a class="find_button" href="#">Búscar Productos</a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="cart_area">
                    <div class="wishlist">
                        <i class="glyphicon glyphicon-th-list"></i>
                        <h5>Mi lista</h5>
                    </div>
                    <div class="cart">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        <h5>Cart</h5>
                        <span>0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="main_menu_area">
    <nav class="navbar navbar-default" style="background-color: #ff3600">
        <div class="container custome_container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown toggle_menu active">
                        <a href="/">Inicio <i class="glyphicon glyphicon-home"></i></a>
                    </li>
                    <li class="dropdown meg_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Categorías <i class="glyphicon glyphicon-tag"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <ul class="nav">
                                    {% for categoria in cat %}
                                        <li><a href="/single-category/{{ categoria.id }}">{{ categoria.nombre }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown toggle_menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Tiendas <i class="glyphicon glyphicon-stats"></i></a>
                        <ul class="dropdown-menu">
                            {% for tienda in tiendas %}
                            <li><a href="/shop-brand/{{ tienda.hashes }}/">{{ tienda.nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                    <li><a href="shop-brand.html">Tracking <i class="glyphicon glyphicon-cog"></i></a> </li>
                    <li><a href="contact.html">Contacto <i class="glyphicon glyphicon-envelope"></i></a></li>
                    <li><a href="shop-brand.html">Politíca <i class="glyphicon glyphicon-education"></i></a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="glyphicon glyphicon-user"></i> Mi Cuenta</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
</header>
{% endblock %}

{% block contenido %}
<section class="main_slider_area row m0">
    <div class="camera_wrap main_slider_inner">
        <div data-thumb="/static/img/paisa1.jpg" data-src="/static/img/paisa1.jpg">
            <div class="container custome_container">
                <div class="slider_text_main">
                    <div class="slider_text">
                        <h2 class="fadeInUp animated">Beautiful Shoe!</h2>
                        <p class="fadeInUp animated">Outdoor advertising is a low budget and effective way of
                            advertising a company’s product. Among the entire methods billboard advertising is</p>
                        <h3 class="fadeInUp animated">US $120.90 <span><s>$180.99</s></span></h3>
                        <a class="slider_btn fadeInLeft animated" href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
        <div data-thumb="/static/img/paisa1.jpg" data-src="/static/img/paisa1.jpg">
            <div class="container custome_container">
                <div class="slider_text_main">
                    <div class="slider_text">
                        <h2 class="fadeInUp animated">Beautiful Shoe!</h2>
                        <p class="fadeInUp animated">Outdoor advertising is a low budget and effective way of
                            advertising a company’s product. Among the entire methods billboard advertising is</p>
                        <h3 class="fadeInUp animated">US $120.90 <span><s>$180.99</s></span></h3>
                        <a class="slider_btn fadeInLeft animated" href="#"><i class="glyphicon glyphicon-shopping-cart"></i> Al Carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="add_space">
    <div class="container custome_container">
        <img src="/static/img/add_image/home_add_1.jpg" alt="">
    </div>
</section>
<section class="product_categori_list">
    <div class="container custome_container">
        <div class="men_clothing">
            <div class="men_clothing_heading" style="padding-top: 10px">
                <nav>
                    <ul class="nav nav-tabs" role="tablist">
                        {% for categoria in cat %}
                            <li role="presentation" class="active">
                                <a href="#down" aria-controls="down" role="tab" data-toggle="tab">{{ categoria.nombre }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <a class="/single-category/" href="#">Todas las categorías <i class="glyphicon glyphicon-arrow-right"></i></a>
            </div>
            <div class="men_clothing_body row">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="down">
                        <div class="col-md-6">
                            <div class="men_clithing_item">
                                <img src="/static/img/categories_product/men/men_1.jpg" alt="">
                                <div class="men_clithing_item_text">
                                    <h4>Old Style Semi Narrow T-shirt <i class="lnr lnr-heart"></i></h4>
                                    <h5>Winter Wear</h5>
                                    <h6>US $120.90</h6>
                                    <a class="add_to_cart" href="#"><i class="lnr lnr-cart"></i> Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="men_clithing_item">
                                <img src="/static/img/categories_product/men/men_2.jpg" alt="">
                                <div class="men_clithing_item_text_two">
                                    <h4>Old Style Narrow T-shirt</h4>
                                    <h6>US $120.90</h6>
                                    <div class="favourite_icon">
                                        <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                        <a href="#"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="men_clithing_item">
                                <img src="/static/img/categories_product/men/men_3.jpg" alt="">
                                <div class="men_clithing_item_text_two">
                                    <h4>Old Style Narrow T-shirt</h4>
                                    <h6>US $120.90</h6>
                                    <div class="favourite_icon">
                                        <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                        <a href="#"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="men_clithing_item min">
                                <img src="/static/img/categories_product/men/men_4.jpg" alt="">
                                <div class="men_clithing_item_text_two men_clithing_small">
                                    <h4>Old Style Narrow T-shirt</h4>
                                    <h6>US $120.90</h6>
                                    <div class="favourite_icon">
                                        <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                        <a href="#"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="men_clithing_item min">
                                <img src="/static/img/categories_product/men/men_4.jpg" alt="">
                                <div class="men_clithing_item_text_two men_clithing_small">
                                    <h4>Old Style Narrow T-shirt</h4>
                                    <h6>US $120.90</h6>
                                    <div class="favourite_icon">
                                        <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                        <a href="#"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="men_clithing_item min">
                                <img src="/static/img/categories_product/men/men_5.jpg" alt="">
                                <div class="men_clithing_item_text_two men_clithing_small">
                                    <h4>Old Style Narrow T-shirt</h4>
                                    <h6>US $120.90</h6>
                                    <div class="favourite_icon">
                                        <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                        <a href="#"><i class="lnr lnr-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="recomanded_product">
    <div class="container custome_container">
        <div class="re_tittle">
            <h2>Lo mas Vendido</h2>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-1.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-2.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-3.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-4.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-5.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-6.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-7.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-6">
                <div class="re_product_inner">
                    <img src="/static/img/recommended-product/re-product-8.jpg" alt="">
                    <div class="re_product_price">
                        <h4>US $120.90</h4>
                        <div class="re_product_checkout">
                            <a href="#"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                            <a href="#"><i class="glyphicon glyphicon-heart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home_product_feature">
    <div class="container custome_container">
        <div class="home_feature_inner row m0">
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="/static/img/icon/home-feature-icon-1.png" alt="">
                        <h4>Quick Delivary</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="/static/img/icon/home-feature-icon-2.png" alt="">
                        <h4>24/7 Help Center</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="/static/img/icon/home-feature-icon-3.png" alt="">
                        <h4>Safe Payment</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="home_feature_inner_content">
                        <img src="/static/img/icon/home-feature-icon-4.png" alt="">
                        <h4>Worldwide Delivary</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<footer class="footer_area">
    <div class="main_footer">
        <div class="container custome_container">
            <div class="row widget_inner">
                <div class="col-md-3">
                    <div class="f_service_widget">
                        <div class="f_widget_tittle">
                            <h3>Customer Service</h3>
                        </div>
                        <p>
                            Customer Service <br class="break"/>
                            Transaction Service Agreement <br class="break"/>
                            Take Our Survey <br class="break"/>
                            Organization & Technical Support
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_newsletter_widget">
                        <div class="f_widget_tittle">
                            <h3>Subscribe to our Newsletter</h3>
                        </div>
                        <input type="email" placeholder="Enter Email Address">
                        <a class="f_subs_btn" href="#">Subscribe Now</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_buy_widget">
                        <div class="f_widget_tittle">
                            <h3>How to Buy</h3>
                        </div>
                        <ul>
                            <li><a href="#">Create an Account</a></li>
                            <li><a href="#">Making Payments</a></li>
                            <li><a href="#">Delivery Options</a></li>
                            <li><a href="#">Buyer Protection</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="f_promotion_widget">
                        <div class="f_widget_tittle">
                            <h3>Partner Promotion</h3>
                        </div>
                        <ul>
                            <li><a href="#">Partnerships</a></li>
                            <li><a href="#">Affiliate Program</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_business_card">
                <div class="card_image row">
                    <img src="img/card/card.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="copyright_footer">
        <h4>© MADE WITH LOVE BY Masum Rana. ALL RIGHTS RESERVED</h4>
    </div>
</footer>
{% endblock %}

<!--==========End Footer area==========-->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery-1.12.3.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Bootstrap Select -->
<script src="/static/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
<!-- jquery easing -->
<script src="/static/js/jquery.easing.min.js"></script>
<script src="/static/vendors/wow/wow.min.js"></script>
<!-- Camera Slider -->
<script src="/static/vendors/camera-slider/js/camera.min.js"></script>

<script src="/static/js/theme.js"></script>

<style>
    .logo_area .website_logo img {
    max-width: 200px !important;
}
</style>
</body>
</html>
