{% extends "index.html" %}
{% block contenido %}
    {% load productostags %}
    <section class="checkout_area">
        <div class="container">
            <div class="checkout_inner_area">
                <div class="personal_info_area">
                    <h3>Aquí tu lista de deseos</h3>
                    <div class="checkout_inner_first">
                        <div class="item_price_area" style="padding: 0px">
                            <div class="table-responsive" data-example-id="simple-responsive-table">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Precio Normal</th>
                                        <th>Precio Especial</th>
                                        <th>Opciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for detalle in detalles %}
                                        <tr>
                                            <td style="text-align: center">{% for fotosProducto in fotosProductos %}
                                                {% if fotosProducto.producto == detalle.producto %}
                                                    <img style="width: 80px" src="/media/{{ fotosProducto.imagen }}"
                                                         alt="">
                                                {% endif %}
                                            {% endfor %}
                                                <br>
                                                {{ detalle.producto.nombre }}</td>
                                            <td>$ {{ detalle.producto.precio }}</td>
                                            <td>
                                                {% if detalle.producto.adds %}
                                                    $ {% descuento detalle.producto.id %} <input type="hidden" id="precio" value="{% descuento detalle.producto.id %} ">
                                                    {% else %}
                                                    No hay promociones.
                                                {% endif %}
                                            </td>
                                            <td><a class="btn btn-primary" style="color: whitesmoke"
                                                   href="/list/delete/{{ detalle.id }}/"><i class="glyphicon glyphicon-trash"></i></a>
                                                <a href="//" class="btn btn-success" style="color: whitesmoke"><i class="glyphicon glyphicon-shopping-cart"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        .item_price_area .table-responsive .table thead tr th {
            width: calc(100% / 4) !important;
        }
    </style>
{% endblock %}

