{% extends "index.html" %}
{% block contenido %}
<section class="banner_area">
            <div class="banner_tittle">
                <h3>Brand: {{ producto.tienda.nombre }}</h3>
            </div>
            <div class="banner_page_ling">
                <a href="/">Inicio</a>
                <i class="glyphicon glyphicon-chevron-right"></i>
                <a href="index.html">{{ producto.tienda.nombre }}</a>
                <i class="glyphicon glyphicon-chevron-right"></i>
                <a href="index.html">{{ producto.categoria.nombre }}</a>
            </div>
        </section>
        <!--==========End Slider area==========-->

        <!--==========End Slider area==========-->
        <section class="product_detail_area">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product_detail_image">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="product1">
                                    <img src="/static/img/product/detail-product/detail_product1.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product2">
                                    <img src="/static/img/product/detail-product/detail_product2.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product3">
                                    <img src="/static/img/product/detail-product/detail_product1.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product4">
                                    <img src="/static/img/product/detail-product/detail_product2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product_detail_list">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#product1" aria-controls="product1" role="tab" data-toggle="tab">
                                    <img src="/static/img/product/detail-product/detail_product1.jpg" style="width: 142px" alt=""></a></li>
                                <li role="presentation"><a href="#product2" aria-controls="product2" role="tab" data-toggle="tab">
                                    <img src="/static/img/product/detail-product/detail_product2.jpg" style="width: 142px" alt=""></a></li>
                                <li role="presentation"><a href="#product3" aria-controls="product3" role="tab" data-toggle="tab">
                                    <img src="/static/img/product/detail-product/detail_product1.jpg" style="width: 142px"  alt=""></a></li>
                                <li role="presentation"><a href="#product4" aria-controls="product4" role="tab" data-toggle="tab">
                                    <img src="/static/img/product/detail-product/detail_product2.jpg" style="width: 142px"  alt=""></a></li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product_detail_content">
                            <a class="in_stock" href="#">In Stock</a>
                            <h3>Upland Leader 500  26”</h3>
                            <nav>
                                <ul class="product_details_rating">
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                </ul>
                            </nav>
                            <a class="review_btn" href="#">Add your review</a>
                            <p>We are one of the most respected and established companies in the world of bicycles.
Our mission is to create good quality bicycles with the most competitive prices in the market. We constantly strive to produce bicycles that incorporate the latest trends on design, components and durability.</p>
                            <p>Our success is due to the attention that we dedicate to every aspect of our product. We want you to be an Upland customer for life. We will give you always the best service, and we are commited to fulfill your required quality standards.</p>
                            <del>$599</del>
                            <h4>$400</h4>
                            <div class="quantity_area">
                                <h5>Quantity</h5>
                                <div class="custom">
                                    <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                                <a class="add_to_cart" href="#"><i class="lnr lnr-cart"></i> Add To Cart</a>
                                <a class="heart_btn" href="#"><i class="lnr lnr-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Slider area==========-->

        <!--==========Product Detail Description area==========-->
        <section class="detail_description">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="detail_description_list">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Product Details</a></li>
                                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments & Reviews</a></li>
                                <li role="presentation"><a href="#shiping" aria-controls="shiping" role="tab" data-toggle="tab">Delivery & Shipping</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="detail_description_content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="detail">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. Any person of any social segment can view online advertisements. Another main positive feature of online advertising is that this type of advertising is not </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="comments">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="shiping">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. Any person of any social segment can view online advertisements. Another main positive feature of online advertising is that this type of advertising is not </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="men_clothing_add add_space">
                    <img src="img/add_image/home-2-add.jpg" alt="">
                </div>
                <div class="men_clothing_tittle">
                    <h2>Similar Products</h2>
                </div>
                <div class="men_clothing_product_inner row">
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-1.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-2.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-2.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-3.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-3.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-3.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}

