<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <link rel="icon" href="img/favicon.png" type="image/x-icon" />
        
        <title>iCommerce</title>

        <!-- fonts -->
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300italic,500,400italic,700,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
        
        <!-- Linearicons -->
        <link href="vendors/Linearicons/style.css" rel="stylesheet">
        <!-- fontawesome -->
        <link href="vendors/fontawesome/css/font-awesome.min.css" rel="stylesheet">
        
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <!-- Bootstrap Select -->
        <link href="vendors/bootstrap-selector/css/bootstrap-select.min.css" rel="stylesheet">
        <!-- Camera Slider -->
        <link href="vendors/camera-slider/css/camera.css" rel="stylesheet">
        <!-- Animate css -->
        <link href="vendors/animate-css/animate.css" rel="stylesheet">
        <!-- jQuery UI -->
        <link href="vendors/jquery-ui/css/jquery-ui.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
       <!--==========First Header==========-->
        <div class="first_header">
            <div class="container custome_container">
                <div class="live_chat_area pull-left">
                    <a href="#"><i class="lnr lnr-bubble"></i>Live Chat Us</a>
                    <a href="#"><i class="lnr lnr-envelope"></i>Call Us Anytime: +660-984-893</a>
                </div>
                <div class="language_area pull-right">
                    <select class="selectpicker">
                        <option>English</option>
                        <option>Bangla</option>
                        <option>Hindi</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="logo_area">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="website_logo">
                            <a href="index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="find_item_inner">
                            <input type="text" placeholder="Search Here">
                            <select class="selectpicker">
                                <option>All Categories</option>
                                <option>All Categories</option>
                                <option>All Categories</option>
                            </select>
                            <a class="find_button" href="#">Find Items</a>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cart_area">
                            <div class="wishlist">
                                <i class="lnr lnr-heart"></i>
                                <h5>Wishlist</h5>
                            </div>
                            <div class="cart">
                                <i class="lnr lnr-cart"></i>
                                <h5>Cart</h5>
                                <span>7</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==========First Header==========-->
        <!--==========Main Menu Area==========-->
        <header class="main_menu_area">
            <nav class="navbar navbar-default">
                <div class="container custome_container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown toggle_menu active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Homepages <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Homepages - 01</a></li>
                                    <li><a href="index-2.html">Homepages - 02</a></li>
                                    <li><a href="index-3.html">Homepages - 03</a></li>
                                    <li><a href="index-4.html">Homepages - 04</a></li>
                                </ul>
                            </li>
                            <li class="dropdown meg_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Elements <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <ul class="nav">
                                            <li><a href="index.html">Homepages - 01</a></li>
                                            <li><a href="index-2.html">Homepages - 02</a></li>
                                            <li><a href="index-3.html">Homepages - 03</a></li>
                                            <li><a href="index-4.html">Homepages - 04</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="nav">
                                            <li><a href="blog.html">Blog</a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="shop-brand.html">Shop Band</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="nav">
                                            <li><a href="category.html">Category</a></li>
                                            <li><a href="single-category.html">Single Category</a></li>
                                            <li><a href="checkout.html">Check Out</a></li>
                                            <li><a href="comparison.html">Comparison</a></li>
                                            <li><a href="product-detail.html">Product Detail</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown toggle_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <i class="lnr lnr-chevron-down"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="single-blog.html">Single Blog</a></li>
                                </ul>
                            </li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="shop-brand.html">Shop Band</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#"><i class="lnr lnr-user"></i> My Account</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>
        <!--==========Main Menu Area==========-->
        
        <!--==========Banner area==========-->
        <section class="banner_area">
            <div class="banner_tittle">
                <h3>Brand Category: Microsoft</h3>
            </div>
            <div class="banner_page_ling">
                <a href="index.html">Home</a>
                <i class="lnr lnr-chevron-right"></i>
                <a href="index.html">Category</a>
                <i class="lnr lnr-chevron-right"></i>
                <a href="index.html">All Category</a>
            </div>
        </section>
        <!--==========End Slider area==========-->
        
        <!--==========End Slider area==========-->
        <section class="product_detail_area">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product_detail_image">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="product1">
                                    <img src="img/product/detail-product/detail_product1.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product2">
                                    <img src="img/product/detail-product/detail_product2.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product3">
                                    <img src="img/product/detail-product/detail_product1.jpg" alt="">
                                </div>
                                <div role="tabpanel" class="tab-pane" id="product4">
                                    <img src="img/product/detail-product/detail_product2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="product_detail_list">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#product1" aria-controls="product1" role="tab" data-toggle="tab"><img src="img/product/detail-product/detail_product_list1.jpg" alt=""></a></li>
                                <li role="presentation"><a href="#product2" aria-controls="product2" role="tab" data-toggle="tab"><img src="img/product/detail-product/detail_product_list2.jpg" alt=""></a></li>
                                <li role="presentation"><a href="#product3" aria-controls="product3" role="tab" data-toggle="tab"><img src="img/product/detail-product/detail_product_list3.jpg" alt=""></a></li>
                                <li role="presentation"><a href="#product4" aria-controls="product4" role="tab" data-toggle="tab"><img src="img/product/detail-product/detail_product_list4.jpg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product_detail_content">
                            <a class="in_stock" href="#">In Stock</a>
                            <h3>Upland Leader 500  26”</h3>
                            <nav>
                                <ul class="product_details_rating">
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                    <li><a href="#"><i class="lnr lnr-star"></i></a></li>
                                </ul>
                            </nav>
                            <a class="review_btn" href="#">Add your review</a>
                            <p>We are one of the most respected and established companies in the world of bicycles.
Our mission is to create good quality bicycles with the most competitive prices in the market. We constantly strive to produce bicycles that incorporate the latest trends on design, components and durability.</p>
                            <p>Our success is due to the attention that we dedicate to every aspect of our product. We want you to be an Upland customer for life. We will give you always the best service, and we are commited to fulfill your required quality standards.</p>
                            <del>$599</del>
                            <h4>$400</h4>
                            <div class="quantity_area">
                                <h5>Quantity</h5>
                                <div class="custom">
                                    <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                    <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                </div>
                                <a class="add_to_cart" href="#"><i class="lnr lnr-cart"></i> Add To Cart</a>
                                <a class="heart_btn" href="#"><i class="lnr lnr-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--==========End Slider area==========-->
        
        <!--==========Product Detail Description area==========-->
        <section class="detail_description">
            <div class="container custome_container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="detail_description_list">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Product Details</a></li>
                                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments & Reviews</a></li>
                                <li role="presentation"><a href="#shiping" aria-controls="shiping" role="tab" data-toggle="tab">Delivery & Shipping</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="detail_description_content">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="detail">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. Any person of any social segment can view online advertisements. Another main positive feature of online advertising is that this type of advertising is not </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="comments">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. </p>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="shiping">
                                    <h4>Upland Leader 500  26”</h4>
                                    <p>Entrepreneurs these days work hard to take their business to the next level. Now, they are frequently using Internet as an important medium for advertising. To create brand awareness and to reach universal markets, online advertising is now excessively used. In India alone, over 41,000 advertisers have advertised on Internet, which means around 46 million advertisers. This makes India a sizeable target market for Internet advertisers.</p>
                                    <p>Due to rise in competition, online advertisement agency or online advertising companies are hired. They help in promotion and well planned advertising. This also proves that advertising is the major part of promotional blend and also is crucial for achieving success. </p>
                                    <p>t is always a good idea to start the advertising campaign with best planning and proper coordination of advertising agency and advertising company. It is acknowledgeable that online advertising is valuable since it reaches out more and is best for the advertisers. Any person of any social segment can view online advertisements. Another main positive feature of online advertising is that this type of advertising is not </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="men_clothing_add add_space">
                    <img src="img/add_image/home-2-add.jpg" alt="">
                </div>
                <div class="men_clothing_tittle">
                    <h2>Similar Products</h2>
                </div>
                <div class="men_clothing_product_inner row">
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-1.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-2.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-2.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-3.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-3.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6">
                        <div class="men_clothing_product_item">
                            <a class="men_item_image" href="single-product.html">
                                <img src="img/product/men-product/men-product-3.jpg" alt="">
                                <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                            </a>
                            <div class="men_item_content">
                                <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                <h4>US $120.90</h4>
                                <div class="favourite_icon">
                                   <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                   <a href="#"><i class="lnr lnr-heart"></i></a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </section>
        <!--==========End Product Detail Description area==========-->
       
       <!--==========End Slider area==========-->
        
        <!--==========End Slider area==========-->
        
        <!--==========Footer area==========-->
        <footer class="footer_area footer_style2">
            <div class="main_footer">
                <div class="container custome_container">
                    <div class="row widget_inner">
                        <div class="col-md-3">
                            <div class="f_service_widget">
                                <div class="f_widget_tittle">
                                    <h3>Customer Service</h3>
                                </div>
                                <p>
                                    Customer Service <br class="break" />
                                    Transaction Service Agreement <br class="break" />
                                    Take Our Survey <br class="break" />
                                    Organization & Technical Support
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_newsletter_widget">
                                <div class="f_widget_tittle">
                                    <h3>Subscribe to our Newsletter</h3>
                                </div>
                                <input type="email" placeholder="Enter Email Address">
                                <a class="f_subs_btn" href="#">Subscribe Now</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_buy_widget">
                                <div class="f_widget_tittle">
                                    <h3>How to Buy</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Create an Account</a></li>
                                    <li><a href="#">Making Payments</a></li>
                                    <li><a href="#">Delivery Options</a></li>
                                    <li><a href="#">Buyer Protection</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="f_promotion_widget">
                                <div class="f_widget_tittle">
                                    <h3>Partner Promotion</h3>
                                </div>
                                <ul>
                                    <li><a href="#">Partnerships</a></li>
                                    <li><a href="#">Affiliate Program</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_business_card">
                        <div class="card_image row">
                            <img src="img/card/card.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright_footer">
                <h4>© MADE WITH LOVE BY Masum Rana. ALL RIGHTS RESERVED</h4>
            </div>
        </footer>
        <!--==========End Footer area==========-->
        
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.12.3.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
        <!-- Bootstrap Select -->
        <script src="vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
        <!-- jquery easing -->
        <script src="js/jquery.easing.min.js"></script>
        <!-- Camera Slider -->
        <script src="vendors/camera-slider/js/camera.min.js"></script>
        <!-- jQuery UI -->
        <script src="vendors/jquery-ui/js/jquery-ui.js"></script>
        <script src="vendors/wow/wow.min.js"></script>
        
        
        <script src="js/theme.js"></script>
    </body>
</html>