{% extends "index.html" %}
{% block contenido %}
    {% load productostags %}
    <link rel="stylesheet" type="text/css" href="/static/rata/src/css/star-rating-svg.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/rata/demo/css/demo.css">
    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel5"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel5">Califica este Producto</h5>
                </div>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="product_detail_content">
                            <div class="my-rating"></div>
                        </div>
                        <div>
                            <input type="hidden" value="1" id="start" name="start" readonly required>
                            <textarea name="comentario" id="comentario" class="form-control"
                                      style="resize: none; height: 100px"></textarea>
                        </div>
                        <p style="font-weight: bold">Usted ha seleccionado: <i id="numero"> 1 </i> de estrellas para
                            este producto.</p>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Registrar Calificación</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section class="banner_area">
        <div class="banner_tittle">
            <h3>Brand: {{ producto.tienda.nombre }}</h3>
        </div>
        <div class="banner_page_ling">
            <a href="/">Inicio</a>
            <i class="glyphicon glyphicon-chevron-right"></i>
            <a href="index.html">{{ producto.tienda.nombre }}</a>
            <i class="glyphicon glyphicon-chevron-right"></i>
            <a href="index.html">{{ producto.categoria.nombre }}</a>
        </div>
    </section>
    <!--==========End Slider area==========-->

    <!--==========End Slider area==========-->
    <section class="product_detail_area">
        <div class="container custome_container">
            <div class="row">
                <div class="col-md-6">
                    <div class="product_detail_image">
                        <div class="tab-content">
                            {% for foto in fotosProductos %}
                                {% if forloop.counter == 1 %}
                                    <div role="tabpanel" class="tab-pane active" id="prod{{ foto.id }}"
                                         style="text-align: center">
                                        <img src="/media/{{ foto.imagen }}" style="height: 380px" alt="">
                                    </div>
                                {% else %}
                                    <div role="tabpanel" class="tab-pane" id="prod{{ foto.id }}"
                                         style="text-align: center">
                                        <img src="/media/{{ foto.imagen }}" style="height: 380px" alt="">
                                    </div>
                                {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                    <br>
                    <div class="product_detail_list">
                        <ul class="nav nav-tabs" role="tablist">
                            {% for foto in fotosProductos %}
                                {% if forloop.counter == 1 %}
                                    <li role="presentation" class="active">
                                        {% else %}
                                    <li role="presentation">
                                {% endif %}
                            <div class="col-xl-1">
                                <a href="#prod{{ foto.id }}" aria-controls="prod{{ foto.id }}" role="tab"
                                   data-toggle="tab">
                                    <img class="img-thumbnail" src="/media/{{ foto.imagen }}" style="height: 80px"
                                         alt="">
                                </a>
                            </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="product_detail_content">
                        {% if stock > 0 %}
                            En Stock: <a class="in_stock"><strong>{{ stock }}</strong></a>
                        {% else %}
                            <a class="in_stock" style="background-color: red; color: white">Sin Stok</a>
                        {% endif %}
                        <h3>{{ producto.nombre }}</h3>
                        {% if calificacion %}
                            <span class="in_stock" style="background-color: {{ colores.botons }}; color: white">Calificación del Artículo: </span>
                            <a href="/view/prom/{{ producto.slug }}">
                                <div class="my-rating"></div>
                            </a>
                        {% endif %}
                        {% if calificacion == 0 %}
                            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal4"
                                    data-whatever="@mdo" href="#">Calificar
                            </button>
                        {% endif %}
                        <br>
                        <p>{{ producto.descripcion|safe }}</p>
                        {% if producto.adds and producto.adds.estado %}
                            <h4>US
                                <del>${{ producto.precio }}</del>
                            </h4><br>
                            <label class="label label-danger">{{ producto.adds.descuento }}%</label>
                            <h4>US ${% descuento producto.id %}</h4>
                        {% else %}
                            <h4>US ${{ producto.precio }}</h4><br>
                        {% endif %}
                        {% if stock > 0 %}


                            <div class="quantity_area">
                                <h5>Cantidad</h5>
                                <div class="custom">
                                    <select name="qty" id="qty"
                                            style="width: 100%; border: none; line-height: 50px;text-align-last: center;text-indent: 5px;">
                                        {% for i in "x"|rjust:stock %}
                                            <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <button class="add_to_cart" id="carrito" style="background-color: {{ colores.botons }}">
                                    <i
                                            class="glyphicon glyphicon-shopping-cart"></i> Al Carrito
                                </button>
                                <a class="heart_btn corazon" style="cursor: pointer"
                                   data-producto="{{ producto.id }}"><i class="glyphicon glyphicon-heart"></i></a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==========End Slider area==========-->

    <!--==========Product Detail Description area==========-->
    <section class="detail_description">
        <div class="container custome_container">
            <div class="row">
                <div class="col-md-4">
                    <div class="detail_description_list">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab"
                                                                      data-toggle="tab">Detalles Generales del
                                Producto</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="comments" role="tab"
                                                       data-toggle="tab">Detalles Tecnicos</a></li>
                            <li role="presentation"><a href="#shiping" aria-controls="shiping" role="tab"
                                                       data-toggle="tab">Garantía</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="detail_description_content">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="detail">
                                <h4>{{ producto.nombre }}</h4>
                                <p>{{ producto.detalles_generales|safe }}</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="comments">
                                <h4>{{ producto.nombre }}</h4>
                                <p>{{ producto.detalles_tecnicos|safe }}</p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="shiping">
                                <h4>{{ producto.nombre }}</h4>
                                <p>{{ producto.garantia_y_mas|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="men_clothing_add add_space">
                <img src="/static/img/add_image/home-2-add.jpg" alt="">
            </div>
            <div class="men_clothing_tittle">
                <h2>Productos Similares</h2>
            </div>
            <div class="men_clothing_product_inner row">
                {% for pr in productos %}
                    {% if pr.categoria == producto.categoria %}
                        {% if forloop.counter <= 20 %}
                            <div class="col-md-3 col-xs-6">
                                <div class="men_clothing_product_item" style="text-align: center;">
                                    <a class="men_item_image" href="/detail/{{ pr.slug }}">
                                        {% for fotosProducto in fproductos %}
                                            {% if fotosProducto.producto == pr %}
                                                <img src="/media/{{ fotosProducto.imagen }}" style="height: 220px"
                                                     alt="">
                                            {% endif %}

                                        {% endfor %}
                                    </a>
                                    <div class="men_item_content" style="height: 120px">
                                        <a href="product-detail.html"><h3>{{ pr.nombre|truncatechars:30|capfirst }}</h3>
                                        </a>
                                        <div class="product_detail_content">
                                            {% if producto.adds and producto.adds.estado %}
                                            <h4>US
                                                <del>${{ producto.precio }}</del>
                                            </h4><br>
                                            <label class="label label-danger">{{ producto.adds.descuento }}%</label>
                                            <h4 style="padding: 10px; color: whitesmoke;background-color: {{ colores.botons }};border-radius: 10px">US ${% descuento producto.id %}</h4>
                                        {% else %}
                                            <h4 style="margin-top:10px;padding: 10px; color: whitesmoke;background-color: {{ colores.botons }};border-radius: 10px">US ${{ producto.precio }}</h4><br>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    {% csrf_token %}
    {% block script %}
        <script src="/static/js/jquery-1.12.3.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="/static/sweetalert.min.js"></script>
        <script src="/static/rata/src/jquery.star-rating-svg.js"></script>
        <script>
            $("#carrito").click(function () {
                $.ajax({
                    url: "/to_car/",
                    data: {
                        cantidad: $("#qty").val(),
                        precio: $("#precio").val(),
                        producto: '{{producto.id}}',
                        csrfmiddlewaretoken: $('input:hidden[name="csrfmiddlewaretoken"]').val()
                    },
                    type: 'post',
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        swal({
                            title: "Cuanto lo siento!",
                            text: "Para usar esta acción debe estar registrado",
                            icon: "error",
                            button: "No hay mas por hacer",
                        });

                    },
                    success: function (data) {
                        swal({
                            title: "Excelente!",
                            text: "El producto se agrego al carrito",
                            icon: "success",
                            button: "No hay mas por hacer",
                        });

                    }
                });
            });

            {% if mensaje %}
                swal({
                    title: "Bien Hecho!",
                    text: "{{ mensaje }}",
                    icon: "success",
                    button: "No hay mas por hacer",
                });
            {% endif %}
            {% if error %}
                swal({
                    title: "Cuanto lo siento!",
                    text: "{{ error }}",
                    icon: "error",
                    button: "No hay mas por hacer",
                });
            {% endif %}
            puntaje='{{ producto.puntuacion }}'+""
            $(".my-rating").starRating({

                    initialRating: {{calificacion}}.replace(",", "."),
                    initialRating: 1,
                starSize: 25,
                {% if calificacion %}
                    readOnly: true,
                {% endif %}
                disableAfterRate: false,
                totalStars: 5,
                onHover: function (currentIndex, currentRating, $el) {
                    $('#numero').text(currentIndex);
                    $("#start").val(currentIndex)
                },
                onLeave: function (currentIndex, currentRating, $el) {
                    $('#numero').text(currentRating);
                    $("#start").val(currentIndex)
                }
            });
        </script>
    {% endblock %}

{% endblock %}

