<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <title>Registration</title>

    <!--web fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="/static/Administracion/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="/static/Administracion/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="/static/Administracion/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!--iCheck-->
    <link href="/static/Administracion/vendor/icheck/skins/all.css" rel="stylesheet">

    <!--custom styles-->
    <link href="/static/Administracion/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/Administracion/vendor/html5shiv.js"></script>
    <script src="/static/Administracion/vendor/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="leftHalf" style="background-image: url('/static/Administracion/img/login-bg.jpg')">
        <div class="login-promo-txt">
            <h2>Registrate Gratis</h2>
            <p>Desde aqui podras ingresar a tu panel de administación</p>
        </div>
    </div>

    <div class="rightHalf">
        <div class="position-relative">
            <!--login form-->
            <div class="login-form registration text-center">
                <h2 class="text-center mb-4">
                    <img src="/static/img/ec-02.png" srcset="/static/img/ec-02.png" style="width: 100%" alt="CodeLab">
                </h2>
                <h4 class=" text-success mb-2">Formulario de Registro</h4>
                <p class="mb-5">Ingresa los datos a continuación: </p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" required id="exampleInputEmail1" placeholder="Ingrese su email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="pass1" required id="exampleInputPassword1" placeholder="Ingrese Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="pass2" required id="exampleInputPassword2" placeholder="Confirme su Password">
                    </div>
                    <div class=" custom-checkbox  mr-sm-2 position-relative">
                        <span class="mt-2 d-inline-block">
                            <input type="checkbox" class="custom-control-input" required id="customControlInline">
                            <label class="custom-control-label" for="customControlInline">
                                Yo Acepto <a href="#" class="text-danger"> los términos y condiciones.  </a><aw></aw></label>
                        </span>
                        <button type="submit" class="btn btn-danger btn-pill float-right">Registrase</button>
                    </div>

                    <div class="form-divider"></div>

                    <a href="#" class="btn btn-facebook btn-pill text-uppercase"><i class="fa fa-facebook-square"></i> Iniciar con Facebook</a>
                    <div class="text-center mt-4 f12">
                        Ya estas registrado? <a href="login.html" class="btn-link text-capitalize text-danger">Inicia Sesión</a>
                    </div>
                </form>
            </div>
            <!--/login form-->
        </div>
    </div>

    <!--basic scripts-->
    <script src="/static/Administracion/vendor/jquery/jquery.min.js"></script>
    <script src="/static/Administracion/vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="/static/Administracion/vendor/popper.min.js"></script>
    <script src="/static/Administracion/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/Administracion/vendor/icheck/skins/icheck.min.js"></script>
    <script src="/static/Administracion/vendor/jquery.nicescroll.min.js"></script>
    <script src="/static/Administracion/vendor/modernizr.js"></script>
    <script src="/static/sweetalert.min.js"></script>
    <script type="text/javascript">
        {% if mensaje %}
            swal({
                title: "Error!",
                text: "{{mensaje}}",
                icon: "error",
                button: "No hay mas por hacer",
            });
        {% endif %}
    </script>
    <!--basic scripts initialization-->
    <!--<script src="assets/js/scripts.js"></script>-->
</body>
</html>

