{% extends "index.html" %}
{% block contenido %}
        <section class="banner_area">
            <div class="banner_tittle">
                <h3>CATEGORÍA: {{ categoria.nombre|upper }}</h3>
            </div>
        </section>
        <section class="men_clothing_area">
            <div class="container custome_container">
                <div class="row">
                   <div class="col-md-3">
                        <div class="product_sidebar_widget_inner">
                            <div class="s_widget s_widget_categories">
                               <div class="s_widget_tittle">
                                   <h4>Todas las Categorías</h4>
                               </div>
                                <ul>
                                    {% for categoria in categorias %}
                                    <li><a href="/single-category/{{ categoria.id }}/"><img src="/media/{{ categoria.icono.icono }}/" alt="" style="width: 20px"> {{ categoria.nombre }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="s_widget s_widget_brand">
                               <div class="s_widget_tittle">
                                   <h4>Brand/Company</h4>
                               </div>
                                <ul>
                                    <li><a href="#">Apple</a></li>
                                    <li class=active><a href="#">Samsung</a></li>
                                    <li><a href="#">Huwei</a></li>
                                    <li><a href="#">Asus</a></li>
                                </ul>
                            </div>
                            <div class="s_widget s_widget_price_range">
                               <div class="s_widget_tittle">
                                   <h4>Price Range</h4>
                               </div>
                                <div class="range_slider">
                                    <div id="slider-range"></div>
                                    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </div>
                            </div>
                            <div class="s_widget s_widget_add">
                               <img src="img/add_image/sidebar_add.jpg" alt="">
                            </div>
                            <div class="s_widget s_widget_t_product">
                               <div class="s_widget_tittle">
                                   <h4>Trending Products.</h4>
                               </div>
                               <div class="t_product_inner">
                                   <div class="item_t_product">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="single-blog.html">
                                                    <img class="media-object" src="img/product/t-product/t-product-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="single-blog.html"><h4>Polo t-shirt</h4></a>
                                                <h5>$34.50</h5>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="item_t_product">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="single-blog.html">
                                                    <img class="media-object" src="img/product/t-product/t-product-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="single-blog.html"><h4>Polo t-shirt</h4></a>
                                                <h5>$34.50</h5>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="item_t_product">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="single-blog.html">
                                                    <img class="media-object" src="img/product/t-product/t-product-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="single-blog.html"><h4>Polo t-shirt</h4></a>
                                                <h5>$34.50</h5>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="item_t_product">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="single-blog.html">
                                                    <img class="media-object" src="img/product/t-product/t-product-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="single-blog.html"><h4>Polo t-shirt</h4></a>
                                                <h5>$34.50</h5>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="item_t_product">
                                        <div class="media">
                                            <div class="media-left">
                                                <a href="single-blog.html">
                                                    <img class="media-object" src="img/product/t-product/t-product-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <a href="single-blog.html"><h4>Polo t-shirt</h4></a>
                                                <h5>$34.50</h5>
                                            </div>
                                        </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                       <div class="short_by_listing_area">
                           <div class="short_by_left">
                               <h2><i class="lnr lnr-funnel"></i>Sorts by:</h2>
                                <select class="selectpicker">
                                    <option>Latest Listing</option>
                                    <option>Latest Listing</option>
                                    <option>Latest Listing</option>
                                </select>
                           </div>
                           <div class="middle_bar">
                               <a class="active" href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                               <a href="#"><i class="fa fa-th" aria-hidden="true"></i></a>
                           </div>
                           <div class="item_right">
                               <h2>Item Show:</h2>
                                <select class="selectpicker">
                                    <option>60</option>
                                    <option>40</option>
                                    <option>40</option>
                                </select>
                           </div>
                       </div>
                        <div class="men_clothing_add">
                            <img src="img/add_image/home-2-add.jpg" alt="">
                        </div>
                        <div class="men_clothing_tittle">
                            <h2>Men Clothing</h2>
                        </div>
                        <div class="men_clothing_product_inner row">
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-1.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-2.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-2.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-3.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-3.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-4.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-5.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-5.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-6.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-6.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-5.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="men_clothing_add add_space">
                            <img src="img/add_image/home-2-add.jpg" alt="">
                        </div>
                        <div class="men_clothing_tittle">
                            <h2>Men Clothing</h2>
                        </div>
                        <div class="men_clothing_product_inner row">
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-1.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-2.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-2.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-3.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-3.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-4.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-5.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-5.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-6.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-6.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-5.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-1.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-2.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-2.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-3.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xs-6">
                                <div class="men_clothing_product_item">
                                    <a class="men_item_image" href="single-product.html">
                                        <img src="img/product/men-product/men-product-3.jpg" alt="">
                                        <img class="secondary_img" src="img/product/men-product/men-product-4.jpg" alt="">
                                    </a>
                                    <div class="men_item_content">
                                        <a href="product-detail.html"><h3>Old Style Narrow T-shirt</h3></a>
                                        <h4>US $120.90</h4>
                                        <div class="favourite_icon">
                                           <a class="active" href="#"><i class="lnr lnr-cart"></i></a>
                                           <a href="#"><i class="lnr lnr-heart"></i></a>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation">
                            <ul class="pagination product_pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <i class="lnr lnr-chevron-left"></i>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">...</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <i class="lnr lnr-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}