{% extends "index.html" %}
{% block contenido %}
    {% load productostags %}
    <link rel="stylesheet" type="text/css" href="/static/rata/src/css/star-rating-svg.css">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/rata/demo/css/demo.css">
    <section class="checkout_area">
        <div class="container">
            <div class="checkout_inner_area">
                <div class="personal_info_area">

                    <div class="r_widget popular_post_widget">
                        <div class="widget_tittle">
                            <h3>Usuarios hablan de {{ producto.nombre|capfirst }}, calificación:
                                <i>({{ producto.puntuacion }})</i></h3>
                                <div class="my-rating"></div>
                        </div>
                        <ul class="recent_post_list">
                            {% for calificacion in calificaciones %}
                                <li>
                                    <div class="media">
                                        <div class="media-left" style="vertical-align: middle; text-align: center;">
                                            <a><h4>Calificación</h4></a>

                                            <span style="background-color: {{ colores.botons }}; color: whitesmoke; border-radius: 10px; padding: 10px">{{ calificacion.calificacion }}</span>
                                        </div>
                                        <div class="media-body">
                                            <a>
                                                <h4>{{ calificacion.usuario.get_full_name }} {{ calificacion.usuario.username }}</h4>
                                            </a>
                                            <a class="date_comment" href="#">
                                                {% if calificacion.comentario %}
                                                    {{ calificacion.comentario }}
                                                {% else %}
                                                    No dejo Comentario
                                                {% endif %}

                                            </a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <a href="/detail/{{ producto.slug }}/" class="btn btn-primary">Volver</a>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="/static/rata/src/jquery.star-rating-svg.js"></script>
    <script>
        $(".my-rating").starRating({
            initialRating: parseFloat({% coma_punto producto.puntuacion %}),
            starSize: 25,
            readOnly: true,
            disableAfterRate: false,
            totalStars: 10,
            onHover: function (currentIndex, currentRating, $el) {
                $('#numero').text(currentIndex);
                $("#start").val(currentIndex)
            },
            onLeave: function (currentIndex, currentRating, $el) {
                $('#numero').text(currentRating);
                $("#start").val(currentIndex)
            }
        });
    </script>
{% endblock %}
