<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">

    <!--favicon icon-->
    <link rel="icon" type="image/png" href="/static/Administracion/img/favicon.png">

    <title>Home</title>

    <!--web fonts-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <!--bootstrap styles-->
    <link href="/static/Administracion/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="/static/Administracion/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--jquery ui-->
    <link href="/static/Administracion/vendor/jquery-ui/jquery-ui.min.css" rel="stylesheet">

    <!--iCheck-->
    <link href="/static/Administracion/vendor/icheck/skins/all.css" rel="stylesheet">

    <link href="/static/Administracion/vendor/select2/css/select2.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/summernote/summernote-bs4.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/data-tables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/dropzone/dropzone.min.css" rel="stylesheet">

    <!--icon font-->
    <link href="/static/Administracion/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/dashlab-icon/dashlab-icon.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/themify-icons/css/themify-icons.css" rel="stylesheet">
    <link href="/static/Administracion/vendor/weather-icons/css/weather-icons.min.css" rel="stylesheet">

    <!--custom styles-->
    <link href="/static/Administracion/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/static/Administracion/vendor/html5shiv.js"></script>
    <script src="/static/Administracion/vendor/respond.min.js"></script>

    <![endif]-->
</head>

<body class="left-sidebar-fixed">
<!--header start-->
<header class="app-header">
    <div class="branding-wrap">
        <!--left nav toggler start-->
        <a class="nav-link mt-2 float-left js_left-nav-toggler pos-fixed" href="javaScript:;">
            <i class=" ti-align-right"></i>
        </a>
        <!--left nav toggler end-->

        <!--brand start-->
        <div class="navbar-brand pos-fixed">
            <a class="" href="index.html">
                <img src="/static/Administracion/img/logo.png" srcset="/static/Administracion/assets/img/logo@2x.jpg 2x" alt="CodeLab">
            </a>
        </div>
        <!--brand end-->
    </div>

    <!--header rightside links-->
    <ul class="header-links hide-arrow navbar">
        <li class="nav-item search-bar">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#searchModal">
                <i class="vl_search"></i>
            </button>
        </li>
        <li class="nav-item dropdown sm-device-none">
            <a class="nav-link dropdown-toggle mr-lg-3" id="messagesDropdown" href="#" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="vl_chat-bubble"></i>
                <div class="notification-alarm">
                    <span class="wave wave-danger"></span>
                    <span class="dot"></span>
                </div>
            </a>

            <div class="dropdown-menu dropdown-menu-right header-right-dropdown-width pb-0"
                 aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header weight500 ">Messages</h6>
                <div class="dropdown-divider mb-0"></div>
                <a class="dropdown-item border-bottom msg-unread" href="#">
                    <div class="float-left notificaton-thumb">
                        <img class="rounded-circle" src="/static/Administracion/img/avatar/avatar4.jpg" alt=""/>
                    </div>
                    <span class="weight500">Andrew Flinton</span>
                    <span class="small float-right text-muted">08:30 AM</span>

                    <div class="dropdown-message">
                        I hope that you will be there in time. See you then
                    </div>
                </a>

                <a class="dropdown-item border-bottom msg-unread" href="#">
                    <div class="float-left notificaton-thumb">
                        <img class="rounded-circle" src="/static/Administracion/img/avatar/avatar2.jpg" alt=""/>
                    </div>
                    <span class="weight500">John Doe</span>
                    <span class="small float-right text-muted">10:28 AM</span>

                    <div class="dropdown-message">
                        Hello this is an example message. Just want to show how it looks
                    </div>
                </a>

                <a class="dropdown-item border-bottom" href="#">
                    <div class="float-left notificaton-thumb">
                        <img class="rounded-circle" src="/static/Administracion/img/avatar/avatar3.jpg" alt=""/>
                    </div>
                    <span class="weight500">Dash Don</span>
                    <span class="small float-right text-muted">07:12 PM</span>

                    <div class="dropdown-message">
                        Hi, This is Dash Don form usa. I'm looking for someone who really good at design and frontend
                        like mosaddek
                    </div>
                </a>

                <a class="dropdown-item border-bottom" href="#">
                    <div class="float-left notificaton-thumb">
                        <img class="rounded-circle" src="/static/Administracion/img/avatar/avatar1.jpg" alt=""/>
                    </div>
                    <span class="weight500">dkmosa</span>
                    <span class="small float-right text-muted">12:10 PM</span>

                    <div class="dropdown-message">
                        We build a beautiful dashboard admin panel for professional
                    </div>
                </a>
                <a class="dropdown-item small" href="#">View all messages</a>
            </div>
        </li>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle mr-lg-3" id="alertsDropdown" href="#" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="vl_bell"></i>
                <div class="notification-alarm">
                    <span class="wave wave-warning"></span>
                    <span class="dot bg-warning"></span>
                </div>
            </a>

            <div class="dropdown-menu dropdown-menu-right header-right-dropdown-width pb-0"
                 aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header weight500">Notification</h6>

                <div class="dropdown-divider mb-0"></div>
                <a class="dropdown-item border-bottom" href="#">
                            <span class="text-primary">
                            <span class="weight500">
                                <i class="vl_bell weight600 pr-2"></i>Weekly Update</span>
                            </span>
                    <span class="small float-right text-muted">03:14 AM</span>

                    <div class="dropdown-message f12">
                        This week project update report generated. All team members are requested to check the updates
                    </div>
                </a>

                <a class="dropdown-item border-bottom" href="#">
                            <span class="text-danger">
                            <span class="weight500">
                                <i class="vl_Download-circle weight600 pr-2"></i>Server Error</span>
                            </span>
                    <span class="small float-right text-muted">10:34 AM</span>

                    <div class="dropdown-message f12">
                        Unexpectedly server response stop. Responsible members are requested to fix it soon
                    </div>
                </a>

                <a class="dropdown-item border-bottom" href="#">
                            <span class="text-success">
                            <span class="weight500">
                                <i class="vl_screen weight600 pr-2"></i>Monthly Meeting</span>
                            </span>
                    <span class="small float-right text-muted">12:30 AM</span>

                    <div class="dropdown-message f12">
                        Our monthly meeting will be held on tomorrow sharp 12:30. All members are requested to attend
                        this meeting.
                    </div>
                </a>

                <a class="dropdown-item small" href="#">View all notification</a>
            </div>
        </li>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" id="userNav" href="#" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <div class="user-thumb">
                    <img class="rounded-circle" src="/static/Administracion/img/avatar/avatar2.jpg" alt=""/>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userNav">
                <div class="dropdown-item- px-3 py-2">
                    <img class="rounded-circle mr-2" src="/static/Administracion/img/avatar/avatar2.jpg" width="35" alt=""/>
                    <span class="text-muted">{{ request.user }}</span>
                </div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/administracion/">Dashboard</a>
                <a class="dropdown-item" href="#">Account Settings</a>
                <a class="dropdown-item" href="#">Inbox <span class="badge badge-primary">3</span></a>
                <a class="dropdown-item" href="#">Message <span class="badge badge-success">5</span></a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/administracion/log_out/">Salir</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link right_side_toggle">
                <i class="icon-options-vertical"> </i>
            </a>
        </li>
    </ul>
    <!--/header rightside links-->
</header>
<!--search modal start-->
<div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" class="form-control" placeholder="Search...">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--search modal start-->
<!--header end-->

<div class="app-body">
    <!--left sidebar start-->
    {% block menu %}
        <div class="left-nav-wrap">
            <div class="left-sidebar">
                <nav class="sidebar-menu">
                    <ul id="nav-accordion">
                        <li class="sub-menu">
                            <a href="/" class="active">
                                <i class=" ti-home"></i>
                                <span>Dashboard</span>
                            </a>

                        </li>

                        <li class="nav-title">
                            <h5 class="text-uppercase">Components</h5>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" icon-grid"></i>
                                <span>Mi Tienda</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/administracion/tienda/create/">Datos Basicos</a></li>
                                <li><a href="/administracion/tienda/view/">Listar Tiendas</a></li>
                            </ul>
                        </li>

                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" icon-speech"></i>
                                <span>Productos</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/administracion/product/categorias/">Crear Categorías</a></li>
                                <li><a href="/administracion/product/marcas/">Crear Marcas</a></li>
                                <li><a href="/administracion/product/create/">Creación de Productos</a></li>
                                <li><a href="/administracion/product/view/">Listado de Productos</a></li>
                                <li><a href="/administracion/product/promo/">Promociones</a></li>
                            </ul>
                        </li>
                        <li class="sub-menu">
                            <a href="javascript:;">
                                <i class=" icon-speech"></i>
                                <span>Inventario</span>
                            </a>
                            <ul class="sub">
                                <li><a href="/administracion/product/stock/">Agregar Stock</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    {% endblock %}

    <!--main content wrapper-->
    <div class="content-wrapper">
        <div class="container-fluid">
            {% block contenido %}
                <!--states start-->
                <div class="row">
                    <div class="col-xl-3 col-sm-6">
                        <div class="card mb-4 bg-purple">
                            <div class="card-body">
                                <div class="media d-flex align-items-center ">
                                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-purple">
                                        <i class="vl_user-male"></i>
                                    </div>
                                    <div class="media-body text-light">
                                        <h4 class="text-uppercase mb-0 weight500">1,2123</h4>
                                        <span>Visit</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card mb-4 bg-primary">
                            <div class="card-body">
                                <div class="media d-flex align-items-center">
                                    <div class="mr-4 rounded-circle bg-white  sr-icon-box text-primary">
                                        <i class="vl_download"></i>
                                    </div>
                                    <div class="media-body text-white">
                                        <h4 class="text-uppercase mb-0 weight500">3,2211</h4>
                                        <span>Downloads</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card mb-4 bg-danger">
                            <div class="card-body">
                                <div class="media d-flex align-items-center">
                                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-danger">
                                        <i class="vl_shopping-bag2"></i>
                                    </div>
                                    <div class="media-body text-white">
                                        <h4 class="text-uppercase mb-0 weight500">5,6544</h4>
                                        <span>Active Installation</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6">
                        <div class="card mb-4 bg-success">
                            <div class="card-body">
                                <div class="media d-flex align-items-center">
                                    <div class="mr-4 rounded-circle bg-white sr-icon-box text-success">
                                        <i class="vl_cart-empty"></i>
                                    </div>
                                    <div class="media-body text-white">
                                        <h4 class="text-uppercase mb-0 weight500">8,5432</h4>
                                        <span>Product Sales</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--states end-->

                <!--sales statistical overview-->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-info">
                                    <div class="custom-title">Sales Statistical Overview</div>
                                    <div class=" widget-action-link">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0"
                                               data-toggle="dropdown">
                                                <i class=" vl_ellipsis-fill-h"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                <a class="dropdown-item" href="#"> Edit</a>
                                                <a class="dropdown-item" href="#"> Delete</a>
                                                <a class="dropdown-item" href="#"> Settings</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-3">
                                        <span class="text-muted mb-5 d-inline-block"><i class="fa fa-bolt"></i> Sales Views</span>
                                        <h1 class="mb-0 state-view">27,487</h1>
                                        <small class="text-muted">Sales views in last month November 2018</small>
                                        <ul class="list-unstyled mt-5">
                                            <li class="text-muted">
                                                <i class="fa fa-clock-o pr-2"></i> Data from November
                                            </li>
                                            <li class="text-muted">
                                                <i class="fa fa-clock-o pr-2"></i> Last active in 07.12.2018
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-9">
                                        <canvas id="sales_overview_chart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/sales statistical overview-->

                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-success">
                                    <div class="custom-title">Area Chart</div>
                                    <div class="custom-post-title">Outstanding area chart example is given bellow</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="area_chart" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="card card-shadow mb-4">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">Line Chart</div>
                                    <div class="custom-post-title">Awesome line chart example is given bellow</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <canvas id="line_chart" height="150"></canvas>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-xl-4 col-md-6">-->
                    <!--<div class="card card-shadow mb-4">-->
                    <!--<div class="card-header border-0">-->
                    <!--<div class="custom-title-wrap bar-info">-->
                    <!--<div class="custom-title">Stacked Chart</div>-->
                    <!--<div class="custom-post-title">Excellent stacked chart example is given bellow</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<div class="card-body">-->
                    <!--<div id="hbar-placeholder" class="fchart-height"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>

                <!--employee data table-->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap border-0 position-relative pb-2">
                                    <div class="custom-title">Employee Data Table</div>
                                    <div class=" widget-action-link">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0"
                                               data-toggle="dropdown">
                                                Action <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                <a class="dropdown-item" href="#"> Move to another group</a>
                                                <a class="dropdown-item" href="#"> Delete</a>
                                                <a class="dropdown-item" href="#"> Edit</a>
                                                <a class="dropdown-item" href="#"> Send Message</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-hover table-custom">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Position</th>
                                            <th scope="col">Last Contact</th>
                                            <th scope="col">Next Task</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img class="rounded-circle mr-3 table-thumb"
                                                     src="/static/Administracion/img/avatar/avatar1.jpg" alt=""/>Jhony Depp
                                            </td>
                                            <td>(715) 777-666</td>
                                            <td>jhony@example.com</td>
                                            <td>Lead</td>
                                            <td>5 min ago</td>
                                            <td><span class="badge badge-info form-pill px-3 py-1">CALL</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded-circle mr-3 table-thumb"
                                                     src="/static/Administracion/img/avatar/avatar2.jpg" alt=""/>Robert De Niro
                                            </td>
                                            <td>(715) 777-666</td>
                                            <td>robert-de@example.com</td>
                                            <td>Lead</td>
                                            <td>5 min ago</td>
                                            <td><span class="badge badge-success form-pill px-3 py-1">OPENING</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded-circle mr-3 table-thumb"
                                                     src="/static/Administracion/img/avatar/avatar3.jpg" alt=""/>Dr Dkmosa
                                            </td>
                                            <td>(715) 777-666</td>
                                            <td>dkmosa@example.com</td>
                                            <td>Lead</td>
                                            <td>5 min ago</td>
                                            <td><span class="badge badge-primary form-pill px-3 py-1">FOLLOW UP</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded-circle mr-3 table-thumb"
                                                     src="/static/Administracion/img/avatar/avatar4.jpg" alt=""/> Tasi Saz
                                            </td>
                                            <td>(715) 777-666</td>
                                            <td>tasi@example.com</td>
                                            <td>Lead</td>
                                            <td>5 min ago</td>
                                            <td><span class="badge badge-danger form-pill px-3 py-1">VISIT</span></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img class="rounded-circle mr-3 table-thumb"
                                                     src="/static/Administracion/img/avatar/avatar-mini1.jpg" alt=""/>Olivia Dias
                                            </td>
                                            <td>(715) 777-666</td>
                                            <td>olivia@example.com</td>
                                            <td>Lead</td>
                                            <td>5 min ago</td>
                                            <td><span
                                                    class="badge badge-warning text-light form-pill px-3 py-1">CAMPAIGN</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/employee data table-->

                <!--member performance & support ticket-->
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-danger">
                                    <div class="custom-title">
                                        Member's Performance
                                        <a href="javascript:;" class="btn-ordering btn-primary float-right ml-2">
                                            <i class="fa fa-sort-alpha-asc"></i>
                                        </a>
                                        <ul class="nav nav-pills nav-pill-turquoise nav-pill-custom nav-pills-sm float-right "
                                            id="pills-tab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="pills-today-tab" data-toggle="pill"
                                                   href="#pills-today" role="tab" aria-controls="pills-today"
                                                   aria-selected="true">Today</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="pills-month-tab" data-toggle="pill"
                                                   href="#pills-month" role="tab" aria-controls="pills-month"
                                                   aria-selected="false">Month</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content" id="pills-tabContent">
                                    <div class="tab-pane fade show active" id="pills-today" role="tabpanel"
                                         aria-labelledby="pills-today-tab">
                                        <ul class="list-unstyled mb-0 list-widget">
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar1.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">shirley hoe</h6>
                                                            <span class="text-muted">Sales Executive, NY</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$780.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar2.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">james alexender</h6>
                                                            <span class="text-muted">Sales Executive, FL</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$480.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar3.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                                                            <span class="text-muted">Sales Executive, CA</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$360.00 <i
                                                                    class="fa fa-level-down text-danger pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-3">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar4.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                                                            <span class="text-muted">Sales Executive, MI</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$180.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="text-center">
                                                <a href="javascript:;" class="more-list">
                                                    <i class=" vl_ellipsis-fill-h"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="pills-month" role="tabpanel"
                                         aria-labelledby="pills-month-tab">
                                        <ul class="list-unstyled mb-0 list-widget">
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar2.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">james alexender</h6>
                                                            <span class="text-muted">Sales Executive, FL</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$480.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-3">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar4.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">jonna pinedda</h6>
                                                            <span class="text-muted">Sales Executive, MI</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$180.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar3.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">ursula sitorus</h6>
                                                            <span class="text-muted">Sales Executive, CA</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$360.00 <i
                                                                    class="fa fa-level-down text-danger pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="media mb-4">
                                                    <img class="mr-3 rounded-circle" src="/static/Administracion/img/avatar/avatar1.jpg"
                                                         alt=" ">
                                                    <div class="media-body list-widget-border">
                                                        <div class="float-left">
                                                            <h6 class="text-uppercase mb-0">shirley hoe</h6>
                                                            <span class="text-muted">Sales Executive, NY</span>
                                                        </div>
                                                        <div class=" float-right">
                                                            <strong>$780.00 <i
                                                                    class="fa fa-level-up text-success pl-2"></i></strong>
                                                        </div>
                                                    </div>

                                                </div>
                                            </li>
                                            <li class="text-center">
                                                <a href="javascript:;" class="more-list">
                                                    <i class="vl_ellipsis-fill-h"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card card-shadow mb-4 ">
                            <div class="card-header border-0">
                                <div class="custom-title-wrap bar-warning">
                                    <div class="custom-title">Support Tickets</div>
                                    <div class=" widget-action-link">
                                        <div class="dropdown">
                                            <a href="#" class="btn btn-transparent text-secondary dropdown-hover p-0"
                                               data-toggle="dropdown">
                                                Filter <i class="fa fa-caret-down pl-2"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right vl-dropdown">
                                                <a class="dropdown-item" href="#"> Edit</a>
                                                <a class="dropdown-item" href="#"> Delete</a>
                                                <a class="dropdown-item" href="#"> Settings</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled mb-0 list-widget">
                                    <li>
                                        <div class="media mb-4">
                                            <div class="mr-3 rounded-circle bg-success st-alphabet">
                                                J
                                                <span class="status bg-success"></span>
                                            </div>
                                            <div class="media-body list-widget-border">
                                                <div class="float-left">
                                                    <h6 class="text-uppercase mb-0">Joseph Farnandez <span
                                                            class="badge badge-warning text-light form-pill px-3 py-1 ml-2">Pending</span>
                                                    </h6>
                                                    <span class="text-muted">I am facing some trouble with my viewport. When i start my</span>
                                                </div>
                                                <div class=" float-right">
                                                    <small class="text-muted">8:40 PM</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="media mb-4">
                                            <div class="mr-3 rounded-circle bg-warning st-alphabet">
                                                M
                                                <span class="status bg-secondary"></span>
                                            </div>
                                            <div class="media-body list-widget-border">
                                                <div class="float-left">
                                                    <h6 class="text-uppercase mb-0">martin anderson <span
                                                            class="badge badge-success text-light form-pill px-3 py-1 ml-2">Open</span>
                                                    </h6>
                                                    <span class="text-muted">I have some query regarding the license issue.</span>
                                                </div>
                                                <div class=" float-right">
                                                    <small class="text-muted">1 Day Ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="media mb-4">
                                            <div class="mr-3 rounded-circle bg-primary st-alphabet">
                                                L
                                                <span class="status bg-warning"></span>
                                            </div>
                                            <div class="media-body list-widget-border">
                                                <div class="float-left">
                                                    <h6 class="text-uppercase mb-0">libson james <span
                                                            class="badge badge-secondary text-light form-pill px-3 py-1 ml-2">Closed</span>
                                                    </h6>
                                                    <span class="text-muted">Is there any update plan for RTL version near future?</span>
                                                </div>
                                                <div class=" float-right">
                                                    <small class="text-muted">2 Days Ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="media mb-3">
                                            <div class="mr-3 rounded-circle bg-pink st-alphabet">
                                                A
                                                <span class="status bg-success"></span>
                                            </div>
                                            <div class="media-body list-widget-border">
                                                <div class="float-left">
                                                    <h6 class="text-uppercase mb-0">alex voxy <span
                                                            class="badge badge-warning text-light form-pill px-3 py-1 ml-2">Open</span>
                                                    </h6>
                                                    <span class="text-muted">My client site is broken in most of the windows browser</span>
                                                </div>
                                                <div class=" float-right">
                                                    <small class="text-muted">4 Days Ago</small>
                                                </div>
                                            </div>

                                        </div>
                                    </li>
                                    <li class="text-center">
                                        <a href="javascript:;" class=" more-list">
                                            <i class=" vl_ellipsis-fill-h"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/member performance & support ticket-->
            {% endblock %}
        </div>
        {% block footer %}
            <footer class="sticky-footer">
                <div class="container">
                    <div class="text-center">
                        <small>Copyright &copy; Bit-ec 2020</small>
                    </div>
                </div>
            </footer>
        {% endblock %}

    </div>
</div>

<!--basic scripts-->
<script src="/static/Administracion/vendor/jquery/jquery.min.js"></script>
<script src="/static/Administracion/vendor/jquery-ui/jquery-ui.min.js"></script>
<script src="/static/Administracion/vendor/popper.min.js"></script>
<script src="/static/Administracion/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/Administracion/vendor/jquery.dcjqaccordion.2.7.js"></script>
<script src="/static/Administracion/vendor/jquery.nicescroll.min.js"></script>
<script src="/static/Administracion/vendor/select2/js/select2.min.js"></script>

{% block scripts %}
    <!--chartjs-->
    <script src="/static/Administracion/vendor/chartjs/Chart.bundle.min.js"></script>
    <!--chartjs initialization-->
    <script src="/static/Administracion/vendor/js-init/chartjs/init-sales-overview-chart.js"></script>
    <script src="/static/Administracion/vendor/js-init/chartjs/init-area-chart.js"></script>
    <script src="/static/Administracion/vendor/js-init/chartjs/init-line-chart.js"></script>



    <!--[if lt IE 9]>
    <script src="/static/Administracion/vendor/modernizr.js"></script>
    <![endif]-->

    <!--basic scripts initialization-->
{% endblock %}

<script src="/static/Administracion/js/scripts.js"></script>
<script>
    var URLactual = window.location.href;
    console.log(URLactual)
    $('a:contains("'+URLactual+'")').addClass("active")
</script>
</body>
</html>

